# Copiar este archivo a SCISE-Backend/.env
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/scise_db
SECRET_KEY=tu_clave_secreta_jwt_de_64_caracteres
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=True
ALLOWED_ORIGINS=http://localhost:4321,http://127.0.0.1:4321
ADMIN_NOMBRE=Administrador SCISE
ADMIN_CORREO=admin@scise.sena.edu.co
ADMIN_DOCUMENTO=1000000000
ADMIN_PASSWORD=CambiarEstoInmediatamente123!
ENVIRONMENT=development
